*{
    margin: 0;
    padding: 0;
}

h1{
    height: 3rem;
    background-color: darkslateblue;
    color: #fff;
    text-align: center;
    line-height: 3rem
}
.choice{
    height: 160px;
    width: 160px;
     display: flex;
    justify-content: center;
    align-items: center;
}
.choice:hover{
    background-color: darkslateblue;
    cursor: pointer;
    border-radius: 50%;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.scoreboard{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    font-size: 2rem;
    margin-top: 2rem;
    gap: 5rem;
    text-align: center;
}
#user,#comp{
    font-size: 4rem;
    margin-bottom: -0.5rem;
}
.msgs{
    margin-top: 5rem;
   text-align: center;
}
#msg{
    background-color: darkslateblue;
    color: #fff;
    font-size: 2rem;
    display: inline;
    padding: 1rem;
    border-radius: 1rem;
}
footer{
    margin-top: 8.9rem;
    height: 3rem;
    background-color: darkslateblue;
    color: #fff;
    text-align: center;
    line-height: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#a{
    margin:0 auto;
    text-align: center;
}
#b{
    margin-right: 2rem;
}